<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todos</title>
</head>

<body>
    <nav>
        <a href="/todo">Todo List</a>
    </nav>
    <h1>Todo <%= (todo.id)? 'Edit' : 'Add' %> </h1>
    <form action="/todo/save" method="post">
        <input name="id" type="hidden" value="<%=todo.id %>" />
        <input name="txt" type="text" value="<%= todo.txt%>"  />
        <label>
            <input name="completed" value="true" type="checkbox"
            <%= (todo.completed)? 'checked' : '' %>   />
            Done
        </label>
        <button type="submit">Save</button>
    </form>

</body>

</html>